.HeaderStyling{
	font-family: Impact, fantasy;
	text-align: center;
	color: floralwhite;
}
body{max-height: 7000px}
	.bodyStyling{
		background-color: #232423;
	}
	.itemalignment{
		display: flex;

		justify-content: space-between;
		margin-top: 30px;
		text-align: left;
		font-size: 30px;
		}
	button {
		cursor: pointer;
		
	}
	button1{
		cursor: pointer;
		animation-name: blink;
		animation-duration: 15s;
		animation-iteration-count: infinite;

	}
	@keyframes blink{
		0%{background-color: red;}
		10% {background-color:rgba(35, 36, 35, 0.0) }
		15%{background-color: red;}
		25%{background-color: rgba(35, 36, 35, 0.0)}
		35%{background-color: red;}
		50% {background-color:rgba(35, 36, 35, 0.0) }
		65% {background-color:red; }
		
		85%{background-color:rgba(35, 36, 35, 0.0) }

		100%{background-color: red;}
		
	}
	
	.ButtonDesign{
		font-family: impact,fantasy;
		color: floralwhite;
		background-color: rgba(35, 36, 35, 0.0);
		border-width: 0;
		font-size: 15px;

	}
	.prices{
		margin-left: 200px;
	}
	.itemalignment1{
		display: flex;

		justify-content: space-between;
		margin-top: 30px;
		text-align: left;
	}